html,body{
    background: #F3F5FC;
}
p{
    font-family: "Inter", sans-serif;
    font-size: 100%;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;  
    color: #0A3871;
}
::placeholder{
    color: #0A3871;
}
.container{
    display: flex;
    width: 100vw;
    height: 100vh;
}
.right-container{
    width: 70%;
    height: 100%;
}
.campo-escritura{
    position: relative;
    width: 97%;
    height: 95%;
    top: 20px;
}
.logo-alura{
    position: absolute;
    width:9%;
    top: 2%;
    left: 2%;
    gap: 40px;
}
#gettext{
    position: relative;
    background-color: #F3F5FC;
    width: 65%;
    height: 55%;
    top: 15%;
    left: 23%;
    resize: none;
    outline: none;
    border: none;
    font-family: 'Inter';
    font-size: 2em;
    font-weight: 400;
    line-height: 48px;
    letter-spacing: 0em;
    text-align: left;
    color:#0A3871 ;
}
#gettext::-webkit-scrollbar{
    width: 0px;
}
.alerta{
    display: flex;
    position: relative;
    width: 40%;
    height: 2%;
    left: 23%;
    top: 25%;
}
.img-alerta{
    margin-right: 2%;
}
.button-container{
    display: flex;
    position: relative;
    width: 80%;
    height: 67px;
    top: 28.5%;
    left: 23%;
    gap: 24px;
}
button{
    font-family: "Inter", sans-serif;
    font-size: 120%;
    font-weight: 400%;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
}
#encriptar{
    width: 40%;
    height: 100%;
    left: 50px;
    padding: 24px;
    border-radius: 24px;
    gap: 8px;
    background: #0A3871;
    color:#E9ECF8;
    margin-right: 10px;
}
#desencriptar{
    width: 40%;
    height: 100%;
    padding: 24px;
    border-radius: 24px;
    border: 1px;
    gap: 8px;
    background: #D8DFE8;
    color: #0A3871;
}
/*Contenido derecho*/

.left-container{
    position: relative;
    width: 30%;
    height:100%;
}
.campo-mensaje{
    position: relative;
    width: 80%;
    height: 95%;
    top: 20px;
    left: 0px;
    border-radius: 32px;
    background: #FFFFFF;
}
.imagen-principal{
    position: relative;
    display: block;
    top: 25%;
    width: 80%;
    margin: auto;
    display: block;
}

#settext{
    position: relative;
    display: none;
    width: 90%;
    height: 85%;
    top: 2%;
    background: #FFFFFF;
    resize: none;
    outline: none;
    border: none;
    font-family: 'Inter';
    font-size: 2em;
    font-weight: 400;
    line-height: 48px;
    letter-spacing: 0em;
    text-align: left;
    color:#0A3871 ;
    margin: auto;
}
.mensaje-noencontrado{
    position: relative;
    display: block;
    margin: auto;
    width:  80%;
    top: 25%;
    left: 10px;
    gap: 16px;
}
.mensaje-noencontrado2{
    display: none;
}
.copiar{ 
    position: relative;
    display: none;
    margin: auto;
    top: 1%;
    width: 80%;
    height: 10%;
    padding: 24px;
    border-radius: 24px;

    border: 1px solid #0A3871;
    gap: 8px;
    background: #FFFFFF;
    color: #0A3871;

}
.footer-container{
    text-align: center;
}

@media (max-width: 768px){
    /*Conenido eliminado*/
    .imagen-principal,.mensaje-noencontrado{
        display: none;
    }
    .container{
        display: block;
    }
    .right-container{
        width: 100%;
        height: 80%;
        
    }
    .logo-alura{
        position:relative;
        display: block;
        width: 15%;
        top: 4%;
        left: 0;

    }
    .campo-escritura{
        width: 90%;
        top: 10%;
        margin: auto;
    }
    #gettext{
        width: 100%;
        left: 0;
        top: 0;
    }
    .alerta{
        top: 19%;
        left: 0;
        width: 100%;
    }
    .button-container{
        padding-top: 10px;
        left: 0;
        width: 100%;
        top: 20%;
    }
    #encriptar{
        width: 48.5%;

    }
    #desencriptar{
        width: 48.5%;
    }
    .left-container{
        padding-top: 10px;
        width: 100%;
        height:20%;
        
    }
    .campo-mensaje{
        position: relative;
        display: block;
        margin: center;
        width: 90%;
        height: 60%;
        left: 5%;
        top: 15%;
        
    }
    .mensaje-noencontrado2{
        position: relative;
        display: block;
        width: 100%;
        top: 21.5%;
        left: 0;
        
    }
    .copiar{
        height: 20%;
    }
}
@media (max-width: 575px){
    .right-container{
        height: 80%;
    }
    .campo-escritura{
        height: 90%;
    }
    

    .alerta{
        top: 8%;
        left: 0;
        width: 100%;
    }
    .button-container{
        top: 8%;
        width: 100%;
        height: 30%;
        display: inline-block;
    }
    #encriptar, #desencriptar {
        line-height: 0px;
        width: 100%;
        height: 35%;
        padding: 24px;
        margin: 0 0 10px 0;
    }
    .left-container{
        height: 20%;
        margin-top: 0;
        padding: 0;
    }
    .campo-mensaje{
        top: 0;
        height: 70%;
    }
    .mensaje-noencontrado2{
        top: 25%;
        width: 100%;
    }
}